<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}}
</head>
<body>
{{>navbar}}
  
<div class="container">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>

</body>
</html>